# Ignore system files
/Application Data/
/Cookies/
/Documents/
/Local Settings/
/My Documents/
/NetHood/
/PrintHood/
/Recent/
/SendTo/
/Start Menu/
/Templates/
/AppData/
/OneDrive/
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/ntuser.ini
../../D2 MEN SECOND LEG CALENDAR 2024_As of 15 04 2024.pdf
../../Kepler Basketball Training Program Agreement*
../../WhatsApp Image*.jpg
../../../3D Objects/
../../../Favorites/
../../../Music/
../../../Pictures/
../../../Videos/
../../../Downloads/
